div#root,
div.App {
    width: 100vw;
    height: 100vh;
}

div.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background:
        linear-gradient(
        rgba(108, 70, 78, 0.45), 
        rgba(108, 70, 78, 0.45)
        ),
        url(images/hero.jpg);
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

header {
    width: 100%;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
}

header h1 {
    font-size: 5.5rem;
    letter-spacing: 0.25rem;
    margin-bottom: 0;
}

header h2 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1.5rem;
}

    nav ul li:last-child {
        margin-right: 0;
    }

nav ul li a {
    color: white;
    text-decoration: none;
}

section.save {
    color: white;
}